<table cellspacing="0">
  <tr
    ng-repeat="user in service.users | filter:filterService.value | orderBy: orderByName ? 'name' : ''"
  >
    <td class="td-short">
      <button ng-click="service.deleteUser(user)">Delete</button>
    </td>
    <td class="td-short">
      <button ng-click="service.updateUser(user, name, phone)">
        Update
      </button>
    </td>
    <td class="td-short">
      <input type="text" ng-model="name" ng-init="name=user.name" hover-color />
    </td>
    <td>
      <input
        type="text"
        ng-model="phone"
        ng-init="phone=user.phone"
        ng-show="showPhones"
      />
    </td>
  </tr>
</table>
