<div class="phones-container" ng-init="showPhones = true; orderByName = true">
  <div class="buttons-panel">
    <div class="checkbox-button long" ng-click="orderByName = !orderByName">
      <input type="checkbox" ng-checked="orderByName" /> Order by Name
    </div>
    <div class="checkbox-button" ng-click="showPhones = !showPhones">
      <input type="checkbox" ng-checked="showPhones" /> Show phones
    </div>
    <app-filter search-text="searchText"></app-filter>
    <button ng-click="$ctrl.refreshStorage()">Refresh Storage</button>

    <div>
      <input type="text" placeholder="Name" ng-model="addUser_name" />
      <input type="text" placeholder="Phone" ng-model="addUser_phone" />
      <button ng-click="$ctrl.addUser(addUser_name, addUser_phone)">
        Add user
      </button>
    </div>
  </div>
  <div class="phones">
    <contacts-list
      show-phones="showPhones"
      order-by-name="orderByName"
    ></contacts-list>
  </div>
</div>
