* {
  font-size: 17px;
}

.phones-container {
  .checkbox-button {
    width: 120px;
    border: 1px solid $lightgray;
    cursor: pointer;
    user-select: none;
    padding: 5px;
    display: inline-block;

    &.long {
      width: 150px;
    }
  }

  > div {
    margin: 30px;
  }
}
