{
  "extends": ["eslint:recommended"],
  "plugins": ["angular"],
  "rules": {
    "no-unused-vars": 0
  },
  "env": {
    "amd": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  }
}
